VITE_SUPABASE_URL=https://hdtizzdrbscchvqwcpkb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhkdGl6emRyYnNjY2h2cXdjcGtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU4MTEwNDcsImV4cCI6MjEwMTM4NzA0N30.S32jH0x-exsd6xmyIcqKtdG8hZ6wfWcybvtESqjGE9g